.postbox.acf-postbox {
    @include make-container();

    padding: 0;
    > .inside.acf-fields {
        @include make-row();
        > .acf-field {
            border: none;
            clear: none;
            padding-left: 15px;
            padding-right: 15px;
        }
    }
}

.acf-fields {
    @include make-row();
    > .acf-field {
        border: none;
        padding-left: 15px !important;
        padding-right: 15px !important;
    }
}

.acf-field {
    @extend .col;

    width: 100%;
}

.acf-google-map {
    width: 100%;
    .canvas {
        width: 100%;
    }
}

.acf-input {
    display: flex;
    align-items: stretch;
    .acf-input-prepend {
        height: auto;
        order: 1;
    }
    .acf-input-append {
        height: auto;
        order: 3;
    }
    .acf-input-wrap {
        flex: 1 1 auto;
        order: 2;
    }
    .acf-field-list-wrap {
        flex: 1 1 auto;
    }
}
