.acf-fields > .acf-field.acf-field-group {
    flex: 1 1 auto;
    > .acf-input {
        @include make-container();
        > .acf-fields {
            width: calc(100% + 30px);
            @include make-row();
            > .acf-field {
                padding-left: 15px;
                padding-right: 15px;
            }
        }
    }
    > .acf-label {
        > label {
            font-size: 1rem;
        }
    }
}

#acf-field-group-options {
    .acf-field {
        width: 100%;
    }
}

/* ========================================================================== */

/* Social Links */

/* ========================================================================== */

#social-links.acf-field-group {
    .acf-fields {
        .acf-label {
            display: none;
        }
    }
    .social-link {
        .acf-input-prepend {
            &::before {
                display: block;
                font-size: 16px;
                text-align: center;
                font-family: serif;
                line-height: 20px;
                width: 20px;
            }
            font-size: 0;
            line-height: 0;
        }
    }
    #custom-social {
        .acf-label {
            display: block;
        }
        .fa-live-preview {
            display: none;
        }
    }
}

/* ========================================================================== */

/* #acf-field-group-locations */

/* ========================================================================== */

#acf-field-group-locations.postbox.acf-postbox {
    > .inside.acf-fields.-left {
        > .acf-field {
            padding: 0 !important;
        }
    }
}

#acf-field-group-options.postbox.acf-postbox {
    > .inside.acf-fields.-left {
        > .acf-field {
            padding: 0 !important;
        }
    }
}
