// ACF Tabs

.acf-tab-wrap {
    width: 100%;
}

.acf-tab-button {
    &[data-key*='settings'] {
        font-size: 0;
        line-height: 0;
        &::before {
            content: '\f111';
            font-family: 'dashicons', sans-serif;
            display: block;
            font-size: 20px;
            line-height: 24px;
        }
    }
    &[data-key*='styles'] {
        font-size: 0;
        line-height: 0;
        &::before {
            content: '\f540';
            font-family: 'dashicons', sans-serif;
            display: block;
            font-size: 20px;
            line-height: 24px;
        }
    }
}
