$social-colors: (
    'facebook': #3c5a99,
    'instagram': #e1306c,
    'google': #db4437,
    'linkedin': #006192,
    'twitter': #1da1f2,
    'yelp': #d32123,
    'youtube': #f00
);

.social-list {
    display: inline-flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    overflow: hidden;
    .social-list-inner {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        @include grid-spacing(
            'margin-right' 'margin-left' 'width',
            $neg: true,
            $spacing: $gutters-33
        );
        @include grid-spacing(
            'margin-bottom',
            $neg: true,
            $spacing: $gutters-67
        );
    }
    .social-list-item {
        @include grid-spacing(
            'padding-left' 'padding-right',
            $spacing: $gutters-33
        );
        @include grid-spacing('margin-bottom', $spacing: $gutters-67);
        @each $profile, $color in $social-colors {
            &.#{$profile} a:hover i {
                background-color: $color;
            }
        }
        a {
            display: block;
            position: relative;
            line-height: 1;
            font-size: ms(2);
            @include plain-hover-focus {
                text-decoration: none;
                color: #fff;
            }
            i {
                display: block;
                text-align: center;
                color: #fff;
                transition: $transition-base;
                font-size: ms(2);
                width: ms(2);
                height: ms(2);
                border-radius: 100%;
                &::before {
                    display: block;
                    transform: translateY(3.5%);
                }
            }
        }
    }
}
