.text-monospace {
    font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !important
}

.text-justify {
    text-align: justify !important
}

.text-wrap {
    white-space: normal !important
}

.text-nowrap {
    white-space: nowrap !important
}

.text-truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch
}

.text-left {
    text-align: left !important
}

.text-right {
    text-align: right !important
}

.text-center {
    text-align: center !important
}

.text-lowercase {
    text-transform: lowercase !important
}

.text-uppercase {
    text-transform: uppercase !important
}

.text-capitalize {
    text-transform: capitalize !important
}

.font-weight-light {
    font-weight: 300 !important
}

.font-weight-lighter {
    font-weight: lighter !important
}

.font-weight-normal {
    font-weight: 400 !important
}

.font-weight-bold {
    font-weight: 800 !important
}

.font-weight-bolder {
    font-weight: 600 !important
}

.font-italic {
    font-style: italic !important
}

.text-white {
    color: #fff !important
}

.text-primary {
    color: #3c1053 !important
}

a.text-primary:focus,
a.text-primary:hover {
    color: #0e0413 !important
}

.text-secondary {
    color: #eaaa00 !important
}

a.text-secondary:focus,
a.text-secondary:hover {
    color: #9e7200 !important
}

.text-tertiary {
    color: #282f36 !important
}

a.text-tertiary:focus,
a.text-tertiary:hover {
    color: #07090a !important
}

.text-success {
    color: #285310 !important
}

a.text-success:focus,
a.text-success:hover {
    color: #091304 !important
}

.text-info {
    color: #b9975b !important
}

a.text-info:focus,
a.text-info:hover {
    color: #8c6f3c !important
}

.text-warning {
    color: #d98324 !important
}

a.text-warning:focus,
a.text-warning:hover {
    color: #975b19 !important
}

.text-danger {
    color: #c1292e !important
}

a.text-danger:focus,
a.text-danger:hover {
    color: #821c1f !important
}

.text-light {
    color: #e7e8e9 !important
}

a.text-light:focus,
a.text-light:hover {
    color: #bfc2c4 !important
}

.text-dark {
    color: #282f36 !important
}

a.text-dark:focus,
a.text-dark:hover {
    color: #07090a !important
}

.text-body {
    color: #40464d !important
}

.text-muted {
    color: #707479 !important
}

.text-black-50 {
    color: rgba(16, 24, 32, .5) !important
}

.text-white-50 {
    color: rgba(255, 255, 255, .5) !important
}

.text-hide {
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0
}

.text-decoration-none {
    text-decoration: none !important
}

.text-break {
    word-break: break-word !important;
    overflow-wrap: break-word !important
}

.text-reset {
    color: inherit !important
}

.d-none {
    display: none !important
}

.d-inline {
    display: inline !important
}

.d-inline-block {
    display: inline-block !important
}

.d-block {
    display: block !important
}

.d-table {
    display: table !important
}

.d-table-row {
    display: table-row !important
}

.d-table-cell {
    display: table-cell !important
}

.d-flex {
    display: flex !important
}

.d-inline-flex {
    display: inline-flex !important
}

#poststuff .wpb_vc_param_value.content .display-1,
#poststuff .wpb_vc_param_value.content .display-2,
#poststuff .wpb_vc_param_value.content .display-3,
#poststuff .wpb_vc_param_value.content .display-4,
#poststuff .wpb_vc_param_value.content .h1,
#poststuff .wpb_vc_param_value.content .h2,
#poststuff .wpb_vc_param_value.content .h3,
#poststuff .wpb_vc_param_value.content .h4,
#poststuff .wpb_vc_param_value.content .h5,
#poststuff .wpb_vc_param_value.content .h6,
#poststuff .wpb_vc_param_value.content body#tinymce .display-1,
#poststuff .wpb_vc_param_value.content body#tinymce .display-2,
#poststuff .wpb_vc_param_value.content body#tinymce .display-3,
#poststuff .wpb_vc_param_value.content body#tinymce .display-4,
#poststuff .wpb_vc_param_value.content h1,
#poststuff .wpb_vc_param_value.content h2,
#poststuff .wpb_vc_param_value.content h3,
#poststuff .wpb_vc_param_value.content h4,
#poststuff .wpb_vc_param_value.content h5,
#poststuff .wpb_vc_param_value.content h6,
body#tinymce #poststuff .wpb_vc_param_value.content .display-1,
body#tinymce #poststuff .wpb_vc_param_value.content .display-2,
body#tinymce #poststuff .wpb_vc_param_value.content .display-3,
body#tinymce #poststuff .wpb_vc_param_value.content .display-4,
body#tinymce .display-1,
body#tinymce .display-2,
body#tinymce .display-3,
body#tinymce .display-4,
body#tinymce .h1,
body#tinymce .h2,
body#tinymce .h3,
body#tinymce .h4,
body#tinymce .h5,
body#tinymce .h6,
body#tinymce h1,
body#tinymce h2,
body#tinymce h3,
body#tinymce h4,
body#tinymce h5,
body#tinymce h6 {
    font-family: Metropolis, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 600;
    line-height: 1.15;
    letter-spacing: -.025em;
    margin-bottom: 36px;
    margin-bottom: 2.25rem
}

#poststuff .wpb_vc_param_value.content .display-1:last-child,
#poststuff .wpb_vc_param_value.content .display-2:last-child,
#poststuff .wpb_vc_param_value.content .display-3:last-child,
#poststuff .wpb_vc_param_value.content .display-4:last-child,
#poststuff .wpb_vc_param_value.content .h1:last-child,
#poststuff .wpb_vc_param_value.content .h2:last-child,
#poststuff .wpb_vc_param_value.content .h3:last-child,
#poststuff .wpb_vc_param_value.content .h4:last-child,
#poststuff .wpb_vc_param_value.content .h5:last-child,
#poststuff .wpb_vc_param_value.content .h6:last-child,
#poststuff .wpb_vc_param_value.content body#tinymce .display-1:last-child,
#poststuff .wpb_vc_param_value.content body#tinymce .display-2:last-child,
#poststuff .wpb_vc_param_value.content body#tinymce .display-3:last-child,
#poststuff .wpb_vc_param_value.content body#tinymce .display-4:last-child,
#poststuff .wpb_vc_param_value.content h1:last-child,
#poststuff .wpb_vc_param_value.content h2:last-child,
#poststuff .wpb_vc_param_value.content h3:last-child,
#poststuff .wpb_vc_param_value.content h4:last-child,
#poststuff .wpb_vc_param_value.content h5:last-child,
#poststuff .wpb_vc_param_value.content h6:last-child,
body#tinymce #poststuff .wpb_vc_param_value.content .display-1:last-child,
body#tinymce #poststuff .wpb_vc_param_value.content .display-2:last-child,
body#tinymce #poststuff .wpb_vc_param_value.content .display-3:last-child,
body#tinymce #poststuff .wpb_vc_param_value.content .display-4:last-child,
body#tinymce .display-1:last-child,
body#tinymce .display-2:last-child,
body#tinymce .display-3:last-child,
body#tinymce .display-4:last-child,
body#tinymce .h1:last-child,
body#tinymce .h2:last-child,
body#tinymce .h3:last-child,
body#tinymce .h4:last-child,
body#tinymce .h5:last-child,
body#tinymce .h6:last-child,
body#tinymce h1:last-child,
body#tinymce h2:last-child,
body#tinymce h3:last-child,
body#tinymce h4:last-child,
body#tinymce h5:last-child,
body#tinymce h6:last-child {
    margin-bottom: 0
}

#poststuff .wpb_vc_param_value.content .display-1 .small,
#poststuff .wpb_vc_param_value.content .display-1 small,
#poststuff .wpb_vc_param_value.content .display-2 .small,
#poststuff .wpb_vc_param_value.content .display-2 small,
#poststuff .wpb_vc_param_value.content .display-3 .small,
#poststuff .wpb_vc_param_value.content .display-3 small,
#poststuff .wpb_vc_param_value.content .display-4 .small,
#poststuff .wpb_vc_param_value.content .display-4 small,
#poststuff .wpb_vc_param_value.content .h1 .small,
#poststuff .wpb_vc_param_value.content .h1 small,
#poststuff .wpb_vc_param_value.content .h2 .small,
#poststuff .wpb_vc_param_value.content .h2 small,
#poststuff .wpb_vc_param_value.content .h3 .small,
#poststuff .wpb_vc_param_value.content .h3 small,
#poststuff .wpb_vc_param_value.content .h4 .small,
#poststuff .wpb_vc_param_value.content .h4 small,
#poststuff .wpb_vc_param_value.content .h5 .small,
#poststuff .wpb_vc_param_value.content .h5 small,
#poststuff .wpb_vc_param_value.content .h6 .small,
#poststuff .wpb_vc_param_value.content .h6 small,
#poststuff .wpb_vc_param_value.content body#tinymce .display-1 .small,
#poststuff .wpb_vc_param_value.content body#tinymce .display-1 small,
#poststuff .wpb_vc_param_value.content body#tinymce .display-2 .small,
#poststuff .wpb_vc_param_value.content body#tinymce .display-2 small,
#poststuff .wpb_vc_param_value.content body#tinymce .display-3 .small,
#poststuff .wpb_vc_param_value.content body#tinymce .display-3 small,
#poststuff .wpb_vc_param_value.content body#tinymce .display-4 .small,
#poststuff .wpb_vc_param_value.content body#tinymce .display-4 small,
#poststuff .wpb_vc_param_value.content h1 .small,
#poststuff .wpb_vc_param_value.content h1 small,
#poststuff .wpb_vc_param_value.content h2 .small,
#poststuff .wpb_vc_param_value.content h2 small,
#poststuff .wpb_vc_param_value.content h3 .small,
#poststuff .wpb_vc_param_value.content h3 small,
#poststuff .wpb_vc_param_value.content h4 .small,
#poststuff .wpb_vc_param_value.content h4 small,
#poststuff .wpb_vc_param_value.content h5 .small,
#poststuff .wpb_vc_param_value.content h5 small,
#poststuff .wpb_vc_param_value.content h6 .small,
#poststuff .wpb_vc_param_value.content h6 small,
body#tinymce #poststuff .wpb_vc_param_value.content .display-1 .small,
body#tinymce #poststuff .wpb_vc_param_value.content .display-1 small,
body#tinymce #poststuff .wpb_vc_param_value.content .display-2 .small,
body#tinymce #poststuff .wpb_vc_param_value.content .display-2 small,
body#tinymce #poststuff .wpb_vc_param_value.content .display-3 .small,
body#tinymce #poststuff .wpb_vc_param_value.content .display-3 small,
body#tinymce #poststuff .wpb_vc_param_value.content .display-4 .small,
body#tinymce #poststuff .wpb_vc_param_value.content .display-4 small,
body#tinymce .display-1 .small,
body#tinymce .display-1 small,
body#tinymce .display-2 .small,
body#tinymce .display-2 small,
body#tinymce .display-3 .small,
body#tinymce .display-3 small,
body#tinymce .display-4 .small,
body#tinymce .display-4 small,
body#tinymce .h1 .small,
body#tinymce .h1 small,
body#tinymce .h2 .small,
body#tinymce .h2 small,
body#tinymce .h3 .small,
body#tinymce .h3 small,
body#tinymce .h4 .small,
body#tinymce .h4 small,
body#tinymce .h5 .small,
body#tinymce .h5 small,
body#tinymce .h6 .small,
body#tinymce .h6 small,
body#tinymce h1 .small,
body#tinymce h1 small,
body#tinymce h2 .small,
body#tinymce h2 small,
body#tinymce h3 .small,
body#tinymce h3 small,
body#tinymce h4 .small,
body#tinymce h4 small,
body#tinymce h5 .small,
body#tinymce h5 small,
body#tinymce h6 .small,
body#tinymce h6 small {
    font-size: .6667em;
    font-weight: 300
}

#poststuff .wpb_vc_param_value.content .display-1,
#poststuff .wpb_vc_param_value.content .h1,
#poststuff .wpb_vc_param_value.content body#tinymce .display-1,
#poststuff .wpb_vc_param_value.content h1,
body#tinymce #poststuff .wpb_vc_param_value.content .display-1,
body#tinymce .display-1,
body#tinymce .h1,
body#tinymce h1 {
    font-size: 81px;
    font-size: 5.0625rem
}

#poststuff .wpb_vc_param_value.content .display-2,
#poststuff .wpb_vc_param_value.content .h2,
#poststuff .wpb_vc_param_value.content body#tinymce .display-2,
#poststuff .wpb_vc_param_value.content h2,
body#tinymce #poststuff .wpb_vc_param_value.content .display-2,
body#tinymce .display-2,
body#tinymce .h2,
body#tinymce h2 {
    font-weight: 300;
    font-size: 54px;
    font-size: 3.375rem
}

#poststuff .wpb_vc_param_value.content .display-2 .small,
#poststuff .wpb_vc_param_value.content .display-2 small,
#poststuff .wpb_vc_param_value.content .h2 .small,
#poststuff .wpb_vc_param_value.content .h2 small,
#poststuff .wpb_vc_param_value.content body#tinymce .display-2 .small,
#poststuff .wpb_vc_param_value.content body#tinymce .display-2 small,
#poststuff .wpb_vc_param_value.content h2 .small,
#poststuff .wpb_vc_param_value.content h2 small,
body#tinymce #poststuff .wpb_vc_param_value.content .display-2 .small,
body#tinymce #poststuff .wpb_vc_param_value.content .display-2 small,
body#tinymce .display-2 .small,
body#tinymce .display-2 small,
body#tinymce .h2 .small,
body#tinymce .h2 small,
body#tinymce h2 .small,
body#tinymce h2 small {
    font-weight: 600
}

#poststuff .wpb_vc_param_value.content .display-3,
#poststuff .wpb_vc_param_value.content .h3,
#poststuff .wpb_vc_param_value.content body#tinymce .display-3,
#poststuff .wpb_vc_param_value.content h3,
body#tinymce #poststuff .wpb_vc_param_value.content .display-3,
body#tinymce .display-3,
body#tinymce .h3,
body#tinymce h3 {
    font-weight: 800;
    font-size: 36px;
    font-size: 2.25rem
}

#poststuff .wpb_vc_param_value.content .h4,
#poststuff .wpb_vc_param_value.content h4,
body#tinymce .h4,
body#tinymce h4 {
    font-size: 29.39387px;
    font-size: 1.8371173071rem
}

#poststuff .wpb_vc_param_value.content .h5,
#poststuff .wpb_vc_param_value.content h5,
body#tinymce .h5,
body#tinymce h5 {
    font-weight: 400;
    font-size: 24px;
    font-size: 1.5rem
}

#poststuff .wpb_vc_param_value.content .h5 .small,
#poststuff .wpb_vc_param_value.content .h5 small,
#poststuff .wpb_vc_param_value.content h5 .small,
#poststuff .wpb_vc_param_value.content h5 small,
body#tinymce .h5 .small,
body#tinymce .h5 small,
body#tinymce h5 .small,
body#tinymce h5 small {
    font-weight: 600
}

#poststuff .wpb_vc_param_value.content .display-4,
#poststuff .wpb_vc_param_value.content .h6,
#poststuff .wpb_vc_param_value.content body#tinymce .display-4,
#poststuff .wpb_vc_param_value.content h6,
body#tinymce #poststuff .wpb_vc_param_value.content .display-4,
body#tinymce .display-4,
body#tinymce .h6,
body#tinymce h6 {
    font-weight: 800;
    font-size: 19.59591px;
    font-size: 1.2247448714rem
}

#poststuff .wpb_vc_param_value.content .display-4 .small,
#poststuff .wpb_vc_param_value.content .display-4 small,
#poststuff .wpb_vc_param_value.content .h6 .small,
#poststuff .wpb_vc_param_value.content .h6 small,
#poststuff .wpb_vc_param_value.content body#tinymce .display-4 .small,
#poststuff .wpb_vc_param_value.content body#tinymce .display-4 small,
#poststuff .wpb_vc_param_value.content h6 .small,
#poststuff .wpb_vc_param_value.content h6 small,
body#tinymce #poststuff .wpb_vc_param_value.content .display-4 .small,
body#tinymce #poststuff .wpb_vc_param_value.content .display-4 small,
body#tinymce .display-4 .small,
body#tinymce .display-4 small,
body#tinymce .h6 .small,
body#tinymce .h6 small,
body#tinymce h6 .small,
body#tinymce h6 small {
    font-weight: 400
}

#poststuff .wpb_vc_param_value.content .lead,
body#tinymce .lead {
    font-size: 19.59591px;
    font-size: 1.2247448714rem;
    font-weight: Metropolis, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    letter-spacing: -.025em
}

#poststuff .wpb_vc_param_value.content .display-1,
body#tinymce .display-1 {
    font-size: 121.5px;
    font-size: 7.59375rem
}

#poststuff .wpb_vc_param_value.content .display-2,
body#tinymce .display-2 {
    font-size: 99.20433px;
    font-size: 6.2002709114rem
}

#poststuff .wpb_vc_param_value.content .display-3,
body#tinymce .display-3 {
    font-size: 81px;
    font-size: 5.0625rem
}

#poststuff .wpb_vc_param_value.content .display-4,
body#tinymce .display-4 {
    font-size: 54px;
    font-size: 3.375rem
}

#poststuff .wpb_vc_param_value.content hr,
body#tinymce hr {
    margin-top: 16px;
    margin-top: 1rem;
    margin-bottom: 16px;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(16, 24, 32, .1)
}

#poststuff .wpb_vc_param_value.content .small,
#poststuff .wpb_vc_param_value.content small,
body#tinymce .small,
body#tinymce small {
    font-size: 13.06394px;
    font-size: .8164965809rem;
    font-weight: 400
}

#poststuff .wpb_vc_param_value.content .large,
body#tinymce .large {
    font-size: 1.5em;
    font-weight: 600
}

#poststuff .wpb_vc_param_value.content .mark,
#poststuff .wpb_vc_param_value.content mark,
body#tinymce .mark,
body#tinymce mark {
    padding-left: .33em;
    padding-right: .33em;
    background-color: #eaaa00;
    color: #282f36
}

#poststuff .wpb_vc_param_value.content .list-unstyled,
body#tinymce .list-unstyled {
    padding-left: 0;
    list-style: none
}

#poststuff .wpb_vc_param_value.content .list-inline,
body#tinymce .list-inline {
    display: inline-flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding-left: 0;
    margin-left: 0;
    justify-content: flex-start;
    align-items: flex-start;
    margin-right: -16px;
    margin-right: -1rem;
    margin-bottom: -16px;
    margin-bottom: -1rem
}

#poststuff .wpb_vc_param_value.content .list-inline-item,
body#tinymce .list-inline-item {
    padding: 0;
    margin-right: 16px;
    margin-right: 1rem;
    margin-bottom: 16px;
    margin-bottom: 1rem
}

#poststuff .wpb_vc_param_value.content .initialism,
body#tinymce .initialism {
    font-size: 90%;
    text-transform: uppercase
}

#poststuff .wpb_vc_param_value.content .blockquote,
body#tinymce .blockquote {
    margin-bottom: 16px;
    margin-bottom: 1rem;
    font-size: 19.59591px;
    font-size: 1.2247448714rem
}

#poststuff .wpb_vc_param_value.content .blockquote-footer,
body#tinymce .blockquote-footer {
    font-weight: 800;
    font-size: 13.06394px;
    font-size: .8164965809rem;
    color: #b9975b;
    display: block
}

#poststuff .wpb_vc_param_value.content .blockquote-footer:before,
body#tinymce .blockquote-footer:before {
    content: '\2014\00A0'
}

#poststuff .wpb_vc_param_value.content .text-light,
#poststuff .wpb_vc_param_value.content .text-white,
body#tinymce .text-light,
body#tinymce .text-white {
    background-color: #585d63
}

@font-face {
    font-family: Metropolis;
    font-style: normal;
    font-weight: 300;
    src: local("Metropolis-Light")
}

@font-face {
    font-family: Metropolis;
    font-style: italic;
    font-weight: 300;
    src: local("Metropolis-LightItalic")
}

@font-face {
    font-family: Metropolis;
    font-style: normal;
    font-weight: 600;
    src: local("Metropolis-SemiBold")
}

@font-face {
    font-family: Metropolis;
    font-style: italic;
    font-weight: 600;
    src: local("Metropolis-SemiBoldItalic")
}

@font-face {
    font-family: Metropolis;
    font-style: normal;
    font-weight: 800;
    src: local("Metropolis-ExtraBold")
}

@font-face {
    font-family: Metropolis;
    font-style: italic;
    font-weight: 800;
    src: local("Metropolis-ExtraBoldItalic")
}

body,
html {
    font-family: Metropolis;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
    font-smoothing: antialiased !important
}

@media (min-width:375px) {
    .text-sm-left {
        text-align: left !important
    }

    .text-sm-right {
        text-align: right !important
    }

    .text-sm-center {
        text-align: center !important
    }

    .d-sm-none {
        display: none !important
    }

    .d-sm-inline {
        display: inline !important
    }

    .d-sm-inline-block {
        display: inline-block !important
    }

    .d-sm-block {
        display: block !important
    }

    .d-sm-table {
        display: table !important
    }

    .d-sm-table-row {
        display: table-row !important
    }

    .d-sm-table-cell {
        display: table-cell !important
    }

    .d-sm-flex {
        display: flex !important
    }

    .d-sm-inline-flex {
        display: inline-flex !important
    }
}

@media (min-width:576px) {
    .text-ms-left {
        text-align: left !important
    }

    .text-ms-right {
        text-align: right !important
    }

    .text-ms-center {
        text-align: center !important
    }

    .d-ms-none {
        display: none !important
    }

    .d-ms-inline {
        display: inline !important
    }

    .d-ms-inline-block {
        display: inline-block !important
    }

    .d-ms-block {
        display: block !important
    }

    .d-ms-table {
        display: table !important
    }

    .d-ms-table-row {
        display: table-row !important
    }

    .d-ms-table-cell {
        display: table-cell !important
    }

    .d-ms-flex {
        display: flex !important
    }

    .d-ms-inline-flex {
        display: inline-flex !important
    }
}

@media (min-width:768px) {
    .text-md-left {
        text-align: left !important
    }

    .text-md-right {
        text-align: right !important
    }

    .text-md-center {
        text-align: center !important
    }

    .d-md-none {
        display: none !important
    }

    .d-md-inline {
        display: inline !important
    }

    .d-md-inline-block {
        display: inline-block !important
    }

    .d-md-block {
        display: block !important
    }

    .d-md-table {
        display: table !important
    }

    .d-md-table-row {
        display: table-row !important
    }

    .d-md-table-cell {
        display: table-cell !important
    }

    .d-md-flex {
        display: flex !important
    }

    .d-md-inline-flex {
        display: inline-flex !important
    }
}

@media (min-width:1024px) {
    .text-ml-left {
        text-align: left !important
    }

    .text-ml-right {
        text-align: right !important
    }

    .text-ml-center {
        text-align: center !important
    }

    .d-ml-none {
        display: none !important
    }

    .d-ml-inline {
        display: inline !important
    }

    .d-ml-inline-block {
        display: inline-block !important
    }

    .d-ml-block {
        display: block !important
    }

    .d-ml-table {
        display: table !important
    }

    .d-ml-table-row {
        display: table-row !important
    }

    .d-ml-table-cell {
        display: table-cell !important
    }

    .d-ml-flex {
        display: flex !important
    }

    .d-ml-inline-flex {
        display: inline-flex !important
    }
}

@media (min-width:1280px) {
    .text-lg-left {
        text-align: left !important
    }

    .text-lg-right {
        text-align: right !important
    }

    .text-lg-center {
        text-align: center !important
    }

    .d-lg-none {
        display: none !important
    }

    .d-lg-inline {
        display: inline !important
    }

    .d-lg-inline-block {
        display: inline-block !important
    }

    .d-lg-block {
        display: block !important
    }

    .d-lg-table {
        display: table !important
    }

    .d-lg-table-row {
        display: table-row !important
    }

    .d-lg-table-cell {
        display: table-cell !important
    }

    .d-lg-flex {
        display: flex !important
    }

    .d-lg-inline-flex {
        display: inline-flex !important
    }
}

@media (min-width:1440px) {
    .text-xl-left {
        text-align: left !important
    }

    .text-xl-right {
        text-align: right !important
    }

    .text-xl-center {
        text-align: center !important
    }

    .d-xl-none {
        display: none !important
    }

    .d-xl-inline {
        display: inline !important
    }

    .d-xl-inline-block {
        display: inline-block !important
    }

    .d-xl-block {
        display: block !important
    }

    .d-xl-table {
        display: table !important
    }

    .d-xl-table-row {
        display: table-row !important
    }

    .d-xl-table-cell {
        display: table-cell !important
    }

    .d-xl-flex {
        display: flex !important
    }

    .d-xl-inline-flex {
        display: inline-flex !important
    }
}

@media (min-width:1920px) {
    .text-xx-left {
        text-align: left !important
    }

    .text-xx-right {
        text-align: right !important
    }

    .text-xx-center {
        text-align: center !important
    }

    .d-xx-none {
        display: none !important
    }

    .d-xx-inline {
        display: inline !important
    }

    .d-xx-inline-block {
        display: inline-block !important
    }

    .d-xx-block {
        display: block !important
    }

    .d-xx-table {
        display: table !important
    }

    .d-xx-table-row {
        display: table-row !important
    }

    .d-xx-table-cell {
        display: table-cell !important
    }

    .d-xx-flex {
        display: flex !important
    }

    .d-xx-inline-flex {
        display: inline-flex !important
    }
}

@media print {
    .d-print-none {
        display: none !important
    }

    .d-print-inline {
        display: inline !important
    }

    .d-print-inline-block {
        display: inline-block !important
    }

    .d-print-block {
        display: block !important
    }

    .d-print-table {
        display: table !important
    }

    .d-print-table-row {
        display: table-row !important
    }

    .d-print-table-cell {
        display: table-cell !important
    }

    .d-print-flex {
        display: flex !important
    }

    .d-print-inline-flex {
        display: inline-flex !important
    }
}
/*# sourceMappingURL=maat-editor.css.map */
