// Variables
//
// Variables should follow the `$component-state-property-size` formula for
// consistent naming. Ex: $nav-link-disabled-color and $modal-content-box-shadow-xs.

$fancybox-image-url: '../img' !default;
// ==========================================================================
// Color Sysyem
// ==========================================================================

$white:    #fffFFF;
$gray-300: #BCBEC1;
$gray-200: #D6D8DB;
$gray-100: #EFF1F4;
$gray-400: #A2A4A7;
$gray-500: #898B8E;
$gray-600: #707275;
$gray-700: #56585B;
$gray-800: #3D3F42;
$gray-900: #232528;

$blue: #235789;
$indigo: #403A60;
$purple: #500778;
$pink: #DC0073;
$red: #C1292E;
$orange: #FF8811;
$yellow: #F6BE00;
$green: #4d7d5c;
$teal: #439A86;
$cyan: #55AF92;
$beige: #E7CEB5;

$primary: $purple;
$secondary: $yellow;
$tertiary: $gray-900;
$warning: $orange;
$dark: $gray-900;

$colors: (
  "beige": #E6CEB5;
);

$theme-colors: (
  "tertiary": $gray-900
);

// ==========================================================================
// Options
// ==========================================================================
// Quickly modify global styling by enabling or disabling optional features.

$enable-shadows: true;
$link-hover-color: theme-color("secondary");
$headings-color: $gray-700;
$display1-weight: 600;
$display3-weight: 800;
$mark-bg: #E7CEB5;
$table-head-bg: $indigo;
$table-head-color: #FFF;
$table-dark-bg: $gray-900;
$table-dark-accent-bg: $gray-100;
$input-group-addon-bg: #E7CEB5;
$input-group-addon-color: $gray-900;
$jumbotron-bg: $cyan;
$jumbotron-color: #FFF;

$xs: 0px;
$sm: 320px;
$ms: 576px;
$md: 768px;
$ml: 1024px;
$lg: 1440px;
$xl: 1600px;

$grid-breakpoints: (xs: $xs,
sm: $sm,
ms: $ms,
md: $md,
ml: $ml,
lg: $lg,
xl: $xl,
);

// Grid containers ========================================================== //
// Define the maximum width of `.container` for different screen sizes.
